#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid rgb(5, 5, 5);
}

#options {
    display: flex;
  
}

#options h3 {
    padding-left: 30px;
    padding-right: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    justify-content: center;
    padding: 5%;
}

img {
    width: 30%;
}