#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid rgb(5, 5, 5);
}

#options {
    display: flex;
    justify-content: space-between;
}

#options h3 {
    padding-left: 30px;
    padding-right: 10px;
}