  #navbar {
      display: flex;
      justify-content: space-between;
      border: solid 1px black;
      background-color: black;
      height: 85px;
      width: 100%;
  }
  
  #options {
      display: flex;
      justify-content: space-between;
  }
  
  #options h3 {
      padding-left: 20px;
      padding-right: 20px;
  }
  
  #logo {
      padding-left: 4%;
  }
  
  #navbar_color {
      color: white;
      list-style: none;
      font-weight: bold;
      font-size: 20px;
      padding: 16 px;
      display: flex;
      align-items: center;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  
  #body {
      display: grid;
      grid-template-columns: 26% 70%;
  }
  
  #top {
      margin-top: 26px;
      width: 100%;
      height: 50px;
      background-color: rgb(255, 254, 254);
      border: 1px solid rgb(19, 228, 12);
  }
  
  .home_delivery {
      display: grid;
      grid-template-columns: 10% 80%;
      width: 100%;
      margin-top: 16px;
      height: 100px;
      border-radius: 4px;
      border: 1px solid rgb(230, 228, 229);
  }
  
  .icon>img {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 26px;
      width: 30px;
      height: 30px;
  }
  
  .delivery_heading {
      margin-top: 20px;
  }
  
  .card_heading {
      font-size: 14px;
      color: #1f1f1f;
      margin-bottom: 4 px;
  }
  
  .card_sub_heading {
      font-size: 11px;
      padding-top: 4px;
      color: #a8a8a8;
      letter-spacing: 0.4px;
  }
  
  #products {
      margin: 5% 5% 10% 5%;
      height: 600px;
      display: grid;
      grid-template-columns: 20%;
      grid-gap: 5%;
  }
  
  #products>div>img {
      width: 100%;
      height: 120px;
  }
  /*
  filter part styling
  */
  
  #filter {
      margin: 30px 20px 20px 20px;
      border: 1px solid rgb(150, 144, 144);
      height: 580px;
      border-radius: 4px;
  }
  
  .filter_item_kms {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
      font-style: normal;
      display: grid;
      grid-template-columns: 50% 50%;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .filter_list {
      padding: 4px;
      background-color: rgb(233, 232, 232);
      border: 1px solid rgb(196, 192, 192);
      margin-top: 10px;
  }
  
  #kms_border {
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(233, 232, 232);
      padding: 10px 10px;
      border: 1px solid rgb(175, 169, 169);
  }
  
  .filter_item {
      background: #10a310;
      color: white;
      border: unset;
      margin: 5px;
      width: 90%;
      height: 20px;
      border: 1px solid rgb(202, 199, 199);
      padding-top: 5px;
      text-align: center;
  }
  
  .filter_Seats {
      margin-top: 15px;
  }
  
  .filter_item1 {
      background-color: rgb(233, 232, 232);
      border: unset;
      margin: 5px;
      width: 90%;
      height: 20px;
      border: 1px solid rgb(211, 207, 207);
      padding: 8px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      border-radius: 4px;
  }
  
  .filter_cartype_heading {
      margin-left: 10px;
      margin-top: 20px;
  }
  
  .filter_cartype_items {
      display: grid;
      grid-template-columns: 50% 50%;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  .filter_item2 {
      padding: 8px;
      height: 30 px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      border: 1px solid rgb(219, 219, 219);
      background-color: rgb(233, 232, 232);
      border-radius: 4 px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
  }
  
  .filter_item3 {
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 10px 10px 10px 10px;
  }
  
  .filter_list3 {
      padding: 8px;
      border: 1px solid rgb(211, 208, 208);
      background-color: rgb(233, 232, 232);
      text-align: center;
      padding: 5px;
      font-size: 14px;
      font-weight: 500;
  }
  
  .filter_heading {
      margin-top: 30px;
      margin-left: 5px;
  }